 <%= render 'application/header' %>
<h1> Welcome <%= @user.name %></h1>
  <%# <%= link_to "delete", @user, method: :delete,
                                       data: { confirm: "You sure?" } %>


<%= render 'events/upcoming' %>


