<% provide(:title, "Help") %>
<%= render 'application/header'%>
<div class = "pagehead">
  <h1>Help</h1>
</div>
<div>
  <b> How do I create new events and new customers? </b>
  <br>
  <b> How do I add customers to events? </b>
<br>
  <b> How do I delete events or customers? </b>
<br>
</div>
<p>
  If you need help with something or 
  have some question, email me at rob89porto@gmail.com
</p>



