<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | FanFactory</title>
  </head>
  <body>

<%= render "application/header" %>
    <h1>Help</h1>
    <p>
     If you need call us or email us.
    </p>
  </body>
</html>