<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | FanFactory</title>
  </head>
  <body>

    <h1>Help</h1>
    <p>
     If you need help with something or have some question, email me at rob89porto@gmail.com
    </p>
  </body>
</html>