@import 'bootstrap/dist/css/bootstrap';
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.login-container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -60px;
 
}

.pagehead{
  position: static;
  margin-top: 100px; 
}

// .body a{
//   color: black;
// }

// .body a:hover{
//   color: purple;
// }

table, th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

.login {
  position:relative;
  // left: 100
  // px;
}

// .cusindex a{
//   color: black;
// }

// .cusindex a:hover{
//   color: purple;
// }




//navbar

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 80%; /* Full width */
  
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  // padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
}

li {

    display: block;
    float: left;
    padding: 1rem;
    
}  
li a {
  color: #fff;
 
}

ul li ul {

    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
  
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
  
  
}

ul li ul li {
  clear: both;
  width: 100%;
  

}