@import 'bootstrap/dist/css/bootstrap';
@import "bootstrap/scss/bootstrap.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -60px;

 
}


table, th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

.login {
  position:relative;

}

h1 {
  margin: 10px;
  text-align: center;
  font-size: 4vh;
}

// This is for the Admin UI navbar. The !important marks
// are there because there is REACT/Rails and bootstrap
// styles and I can;t get it to work otherwise

.dropdown-menu {
  background-color:  #6c757d !important;
}

.dropdown-menu show {
  background-color:  #6c757d !important;
}

.dropdown-item {
  background-color:  #6c757d !important;
  color: #fff;
}

.dropdown-item:hover {
  background-color: whitesmoke !important;
  color: black ;
}

.nav {
  display: flex !important ;
  justify-content: space-between !important;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 1000;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
  
}

.navbar-msg {
  color: #f2f2f2;
}

.img-thumbnail {
  max-height: 50px;
  width: auto;
}


// Everything from here on is for the React front end



.background {
  height: 100%; 
  width: 100%;
  position: relative;
  display: inline-block;
  overflow:hidden; 
  z-index:0;


}

.background::before {

  background: url('/assets/fanfactory.jpg');
  content: "";
  position: absolute;
  z-index: -1;
  /* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
  width: 141%;
  height:141%;
  /**/
  /* to center*/
  left: 50%;
  top: 50%;
  /* */
  background-size: 100px 100px; /* size of the image*/
  transform:translate(-50%,-50%) rotate(45deg); /* center the element then rotate */
  opacity: 0.1;

}


.navbar > a:hover{
  background-color: initial;
}

// Dont know why I need to put this here but i do
.react-body {
  margin-left: -200px;
  margin-right: -200px;
}


/* background with tilted logo */
.react-background {
  height: 100%; 
  width: 100%;
  position: relative;
  display: inline-block;
  overflow:hidden; 
  z-index:0;
  
 
}

.react-background::before {
background: url('/assets/fanfactory.jpg');
/* background: url('fanfactory.jpg'); */
content: "";
position: absolute;
z-index: -1;
/* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
/* width: 141%;
height:141%; */
width: 200%;
height:300%;
/**/
/* to center*/
left: 25%;
top: 50%;
/* */
background-size: 100px 100px; /* size of the image*/
transform:translate(-50%,-50%) rotate(45deg); /* center the element then rotate */
opacity: 0.1;


} 

/* navbar */
.navbar {
  position: relative;
  height: 50px !important;
  width: 100%;
  background-color: black;

  display:flex;
  justify-content: space-between;
  align-content: center;


}

.navbar ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  text-decoration: none;
  float: left;
  color: black;
  text-align: center;
  // padding: 10px 10px;
  font-size: 17px;

}

.navbar li:hover {
  text-decoration: underline;

}

/* end navbar */

/* Home page */
#react-hero-img {
  position: relative;
  margin-top: 3.5%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius:20%;
  max-width: 25%;
  min-width: 450px;
  width: auto;
  

}

.home-container {
  width:140%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  bottom:0px;
  
}

/* Upcoming Event page */
.events-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 00;
  font-size: 8vh;
  margin-top: 20px;
  background-color: whitesmoke;
  
}

.row {
  justify-content: center;
}


.event-thumbnail {

  width: auto;
  height: 200px;
  object-fit: scale-down;

 
  
  
}



.react-background-events::before {
background: url('/assets/fanfactory.jpg');
content: "";
position: absolute;
z-index: -3;
/* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
/* width: 141%;
height:141%; */
width: 400%;
height:400%;
/**/
/* to center*/
left: 50%;

top: 100%;
/* */
background-size: 100px 100px; /* size of the image*/
transform:translate(-50%,-50%) rotate(45deg); /* center the element then rotate */
opacity: 0.1;

} 




/* footer */

.footer {
  padding-bottom: 0;
}
.footer-text {
  color: white !important;

}

.footer-container {

  position: fixed;
  display: flex;
  right:-10px;
  margin-bottom: 0;
  
  height: 100px;
}

.non-hov {
  text-decoration: none !important;
}

/* Contact page */
.contact-container {
  width:100%;
  height: 100%; 
  position: fixed;
  bottom:0px;
  margin-left: -10%;
}

.fb-img{
  position: relative;
  width: 50px
}

.card-contact li {
 margin: 5px;
}



@media only screen and (max-width: 640px) {
 
  .footer-text {
    display:none !important;
  
  }

  .footer-link {
    display: block !important;

  }
 

  .navbar {
    flex-wrap: wrap !important;
    height: 20% !important;
    
  }

  .navbar-brand {
    align-self: center;
    margin: auto
  }

  #react-hero-img {
  margin-top: 25%;
  height: 300px;
  width: auto;
  }

}
