// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// show events page
.event-img {
  height: 150px;
  width: auto;
}

.show-title{
  font-size: 10vh;
  text-align: center;
}

.event-page-customer-show {
  width:80%; 
  margin-left:10%; 
  margin-right:10%;
}
// show event page end

