// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-container{
  margin-top: 70px;
  height: auto;
}

#hero-img {
  height: auto;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius:20%;
  padding: 20px;

}

#home-link {
  margin-top: 0;
  margin-right: 0;
}
